@using Radzen.Blazor
@using Radzen;

<div class="profile">
    <RadzenProfileMenu>
        <Template>
            
            <RadzenIcon  Icon="notifications" />
        </Template>
        <ChildContent>
            <RadzenProfileMenuItem Text="Pas de notification" Path="buttons" Icon="account_circle"></RadzenProfileMenuItem>
          
        </ChildContent>
    </RadzenProfileMenu>
</div>


@code {

}
